<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Delete article</title>
    </head>
    <body>
        <h3>Qaysi maqolani o'chirmoqchi ekaningizni kiriting</h3>

        <form method="POST">
            <input name="title" placeholder="Maqola sarlavhasi"></input>
            <button type="submit" style="color:red;">Delete</button>
        </form>
    </body>
</html>